@inject Microsoft.AspNetCore.Identity.SignInManager<QuizMaster.Areas.Identity.Data.ApplicationUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        if (signInManager.IsSignedIn(User) && !((User.IsInRole("Admin")) || (User.IsInRole("Player"))))
        {
            <h4>An admin has to asign you to a role.</h4>
        }
        else if (signInManager.IsSignedIn(User) && ((User.IsInRole("Player"))))
        {
            <h4>Answer questions, level up and become Quiz Master! </h4>
            <br>            
            <h2>
                <a class="badge badge-pill badge-success" asp-controller="Player" asp-action="StartQuiz">Start Playing</a>
            </h2>
            

        }
    }


</div>
