@inject Microsoft.AspNetCore.Identity.SignInManager<QuizMaster.Areas.Identity.Data.ApplicationUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />
@if (signInManager.IsSignedIn(User) && ((User.IsInRole("Player"))))
{
    <style>
        body {
        background-image: url('@Url.Content("~/images/index.png")');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position:center;
        }
    </style>


<body>
    <div class="text-center">        
        <div class="h2 fixed-bottom" style="margin-bottom: 170px;">
            <a class="badge badge-pill badge-success" asp-controller="Player" asp-action="StartQuiz">Start Playing</a>
        </div>                   
    </div>
</body>
}

